*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Amiko', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
/* START - COLOR THEME */
.blue-color{
    color: #32455B;
}

.bluesky-color{
    color: #5293E7;
}
.lightgrayblue-color{
    color: #E0E7EF;
}

.lightblue-color{
    color: #A5C5ED;
}
.orange-color{
    color: #FB9A33;
}
.pink-color{
    color: #E85275;
}
.red-color{
    color: #EB5757;
}
.lightgray-color{
    color: #E0E0E0;
}
.gray-color{
    color: #828282;
}
.menu-active{
    background-color: #A5C5ED;
}
.red-bg{
    background-color: #EB5757;
}
.pink-bg{
    background-color: #E85275;
}
.blue-bg{
    background-color: #32455B;
}
.bluesky-bg{
    background-color: #5293E7;
}
.orange-bg{
    background-color: #FB9A33;
}
.lightgrayblue-bg{
    background-color: #E0E7EF;
}
.lightgray-bg{
    background-color: #E0E0E0;
}
.main-bg{
    background-color: #f5f5f5;
}


/* END - COLOR THEME */

/* START - FONT STYLE */
.w-400{
    font-weight: 400;
}

.w-600{
    font-weight: 600;
}

.w-700{
    font-weight: 700;
}

.menu-text{
    font-size: 20px;
}

.header-text{
    font-size: 50px;
}
.t-18{
    font-size: 18px;
}
.t-20{
    font-size: 20px;
}
.t-40{
    font-size: 40px;
}
.t-14{
    font-size: 14px;
}
/* END - FONT STYLE */

/* START - BUTTON STYLE */
.btn-login{
    border: 2px solid #E85275;
    border-radius: 15px;
}

/* END - BUTTON STYLE */

/* START - IMAGE STYLE */
.img-landing{
    position: absolute;
}

/* END - IMAGE STYLE */

/* START - COMPONENT STYLE */
.staff-status{
    padding: 6px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 5px;
}
.staff-active{
    background-color: #219653;
}

.staff-offline{
    background-color: #C4C4C4;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
}
.promotion-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
}

/* NOTI */
.noti{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.noti .header {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #32455B;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.noti .header span {
    background:#fff;
    padding-right: 20px;
}

.noti .content {
    border: 3px solid #E85275;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.noti .content span {
    font-size: 18px;
}

/* CARD */
.card{
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card img{
    border-radius: 20px 0px 0px 20px;
}
.card .holder{
    border-radius: 0px 20px 20px 0px;
    background-color: #FAFAFA
}

.card .btn{
    color: #C4C4C4;
}
.card .btn:hover{
    color: #E85275;
}
.btn-radio{
    height:15px;
    width:15px;
    border-radius: 50%;
}
.course-info .header{
    border-bottom: 1px solid rgba(149, 157, 165, 0.2);
}
.course-info table .label{
    background-color: #F2F2F2;
    color: #32455B;
    font-weight: bold;
    max-width: 200px;
}

.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bill tbody tr:hover {
    background-color: #e0f7fa;
}

.bill td, .bill th{
    padding: 20px;
}

.bill thead {
    background-color: #5293E7;
    color: white;
}

.card table input::placeholder{
    color: #C4C4C4;
    font-size:14px;
}

.display-no-data{
    height: 200px;
    background-color: white;

}
/* END - COMPONENT STYLE */